In [1]:
import pandas as pd
import tweepy
import time
import json
from pandas.io.json import json_normalize

In [2]:
# authorization
consumer_key= 'C27j2Dj98lrCeHDTY2Xgze3QH'
consumer_secret = '1MVAIyFzi3cHu9Y9wnOykipxOuvjrFlUCeH37kFbluZCKMbUYs'
access_token = "755256756322787328-U6XrJYzxeu1gfrVumRpR29qZfCyB0aA"
access_token_secret = "RcG4fqJn3AcFJwXxvLKdzEiQ2WbEG2qKjSPpeWScuYMrS"
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)

api = tweepy.API(auth,wait_on_rate_limit=True)

In [4]:
public_tweets = api.home_timeline()
for tweet in public_tweets:
    print(tweet.text)

Petition asking government for monthly $2,000 stimulus checks passes 2 million signatures https://t.co/yKm5vWvlLu https://t.co/w1SYPt79sF
England’s nursery schools driven towards extinction, says survey https://t.co/y5F0Ov71fD
EARLIER: President Biden greets supporters outside York High School in Virginia https://t.co/V78bSjyVVU
Four migrant families that were separated at the border by the Trump administration will be reunified in the U.S. t… https://t.co/1w3TmBieio
When Eleven Madison Park reopens in June, chef and owner Daniel Humm will introduce a plant-based, meat-free menu a… https://t.co/yNUBU8qDNj
Marvel rallies superhero fans to assemble at movie theaters https://t.co/SZrllwtFGI https://t.co/32x2RJpnrD
Allies of GOP leader vow to oust Liz Cheney https://t.co/Zl1NfzoVbl https://t.co/LqVkUhWrXU
Richard Cordray to head federal student aid office https://t.co/Jzph43ZMAE
Transgender soccer referee makes Israeli sports history https://t.co/l1TvMUlPaI https://t.co/icAjhtkOjI
Biden taps fierce critic of student loan industry to oversee Education Dept's $1.6 trillion loan portfolio… https://t.co/jKNjAqksq6
President Biden is facing demands to suspend intellectual property rights on the vaccines as the pandemic surges. P… https://t.co/jO9Q41qPRz
Critics see him as an opportunist who never fails to show up amid another tragedy. But those who know Ben Crump say… https://t.co/rPMX88rqkb
As vaccinations slow, at least 22 states not ordering their full allotment: report https://t.co/FPkQIazUvd https://t.co/m3rtSlj3Kw
Bill and Melinda Gates to divorce, shaking philanthropic world https://t.co/cEMcKaHBOZ https://t.co/QtQn8qoOxh
Bill and Melinda Gates to divorce https://t.co/wMXy93l4S3 https://t.co/oiepSrAUT8
RT @NWS_BaltWash: Tornado Warning including New Windsor MD until 9:00 PM EDT https://t.co/CErKl2zd9i
Analysis: The slow redefinition of "herd immunity" — and what’s actually possible in the United States https://t.co/swIZt4Xb4c
Scientists believe that the variants of SARS-CoV-2 responsible for this second wave of cases in India already inclu… https://t.co/wlhDTdupCm
RT @thenewsoncnbc: Dogecoin — it all started as a joke. So why would someone buy this? @Kr00ney breaks down everything you need to know abo…

In [5]:
#scraping for a specific user 
username = 'BarackObama'
count = 150

try:     
 # Creation of query method using parameters
 tweets = tweepy.Cursor(api.user_timeline,id=username).items(count)
 
 # Pulling information from tweets iterable object
 tweets_list = [[tweet.created_at, tweet.text, tweet.user.screen_name] for tweet in tweets]
 
 # Creation of dataframe from tweets list
 # Add or remove columns as you remove tweet information
 tweets_df = pd.DataFrame(tweets_list)
except BaseException as e:
      print('failed on_status,',str(e))
      time.sleep(3)

In [5]:
tweets_df

,0,1,2
0,2021-04-30 13:00:21,It was because of them I was able to travel to...,BarackObama
1,2021-04-30 13:00:10,"This week, Admiral Bill McRaven joined me to r...",BarackObama
2,2021-04-29 23:16:31,Bernie Wong was a trailblazer who spent her li...,BarackObama
3,2021-04-29 22:31:08,"During President @JoeBiden’s first 100 days, t...",BarackObama
4,2021-04-26 21:55:27,States have just learned how many seats they h...,BarackObama
...,...,...,...
145,2020-11-16 22:02:07,Music has always played an important role in m...,BarackObama
146,2020-11-12 21:00:56,"More than anyone else, I wrote my book for you...",BarackObama
147,2020-11-11 16:01:55,"Today, we’re reminded of our solemn obligation...",BarackObama
148,2020-11-07 18:03:22,"Congratulations to my friends, @JoeBiden and @...",BarackObama
149,2020-11-04 00:17:16,"Thank you Chiney, Nneka, and all of the athlet...",BarackObama

In [ ]:
def scraptweets(search_words, date_since, numTweets, numRuns):
    
    # Define a for-loop to generate tweets at regular intervals
    # We cannot make large API call in one go. Hence, let's try T times
    
    # Define a pandas dataframe to store the date:
    db_tweets = pd.DataFrame(columns = ['username', 'acctdesc', 'location', 'following',
                                        'followers', 'totaltweets', 'usercreatedts', 'tweetcreatedts',
                                        'retweetcount', 'text', 'hashtags']

In [ ]:
program_start = time.time()
    for i in range(0, numRuns):
        # We will time how long it takes to scrape tweets for each run:
        start_run = time.time()
        
        # Collect tweets using the Cursor object
        # .Cursor() returns an object that you can iterate or loop over to access the data collected.
        # Each item in the iterator has various attributes that you can access to get information about each tweet
        tweets = tweepy.Cursor(api.search, q=search_words, lang="en", since=date_since, tweet_mode='extended').items(numTweets)

In [ ]:
tweets_list = []
for tweet in tweepy.Cursor(api.search, q='#contentmarketing', count=10, 
    lang='en', since='2021-05-03').items():
        tweets_list.append(tweet._json)

In [ ]:
tweets = []
try:
    for tweet in tweepy.Cursor(api.search, q='#contentmarketing', count=10, 
    lang='en', since='2021-05-03').items():
        tweets.append(tweet._json)
except BaseException as e:
      print('failed on_status,',str(e))
      time.sleep(3)

tweets

In [ ]:
#write list of tweets into a txt file 
open('tweet_json_Barca.txt', 'w') as file:
        file.write(json.dumps(tweets, indent=4))

In [ ]:
#create a dataframe from json tweets
my_demo_list = []
with open('tweet_json_Barca.txt', encoding='utf-8') as json_file:  
    all_data = json.load(json_file)
    for each_dictionary in all_data:
        tweet_id = each_dictionary['id']
        text = each_dictionary['text']
        favorite_count = each_dictionary['favorite_count']
        retweet_count = each_dictionary['retweet_count']
        created_at = each_dictionary['created_at']
        my_demo_list.append({'tweet_id': str(tweet_id),
                             'text': str(text),
                             'favorite_count': int(favorite_count),
                             'retweet_count': int(retweet_count),
                             'created_at': created_at,
                            })
        #print(my_demo_list)
        tweet_json = pd.DataFrame(my_demo_list, columns = 
                                  ['tweet_id', 'text', 
                                   'favorite_count', 'retweet_count', 
                                   'created_at'])

In [ ]:
# function to convert _json to JSON
def jsonify_tweepy(tweepy_object):
    json_str = json.dumps(tweepy_object._json)
    return json.loads(json_str)

In [ ]:
tweet_list = [jsonify_tweepy(tweet) for tweet in tweets]
# df_tweet = pd.json_normalize(tweet_list)
# df_tweet
print(tweet_list)

In [ ]:
for x in range(2):
    print(tweets[x].text) 
    print("")
    print(tweets[x].user.screen_name) 
    print("")

In [ ]:
tweets_df2 = pd.DataFrame(tweets[x].text)
tweets_df2

In [ ]:
import GetOldTweets3 as got

In [ ]:
# Function created to extract coordinates from tweet if it has coordinate info
# Tweets tend to have null so important to run check
# Make sure to run this cell as it is used in a lot of different functions below
def extract_coordinates(row):
    if row['Tweet Coordinates']:
        return row['Tweet Coordinates']['coordinates']
    else:
        return None
# Function created to extract place such as city, state or country from tweet if it has place info
# Tweets tend to have null so important to run check
# Make sure to run this cell as it is used in a lot of different functions below
def extract_place(row):
    if row['Place Info']:
        return row['Place Info'].full_name
    else:
        return None

In [ ]:
username = 'BarackObama'
count = 2000
# Creation of query object
tweetCriteria = got.manager.TweetCriteria().setUsername(username)\
                                        .setMaxTweets(count)
# Creation of list that contains all tweets
tweets = got.manager.TweetManager.getTweets(tweetCriteria)
# Creating list of chosen tweet data
user_tweets = [[tweet.date, tweet.text] for tweet in tweets]
# Creation of dataframe from tweets list
tweets_df = pd.DataFrame(user_tweets)

In [ ]:
user_name = "BarackObama"
max_tweets = 150
 
tweets = tweepy.Cursor(api.user_timeline).items(max_tweets)
 
# Pulling information from tweets iterable object
# Add or remove tweet information you want in the below list comprehension
tweets_list = [[tweet.text, tweet.created_at, tweet.id_str, tweet.user.screen_name, tweet.coordinates, tweet.place, tweet.retweet_count, tweet.favorite_count, tweet.lang, tweet.source, tweet.in_reply_to_status_id_str, tweet.in_reply_to_user_id_str, tweet.is_quote_status] for tweet in tweets]
 
# Creation of dataframe from tweets_list
# Add or remove columns as you remove tweet information
tweets_df = pd.DataFrame(tweets_list,columns=['Tweet Text', 'Tweet Datetime', 'Tweet Id', 'Twitter @ Name', 'Tweet Coordinates', 'Place Info', 'Retweets', 'Favorites', 'Language', 'Source', 'Replied Tweet Id', 'Replied Tweet User Id Str', 'Quote Status Bool'])
 
# Checks if there are coordinates attached to tweets, if so extracts them
tweets_df['Tweet Coordinates'] = tweets_df.apply(extract_coordinates,axis=1)
 
# Checks if there is place information available, if so extracts them
tweets_df['Place Info'] = tweets_df.apply(extract_place,axis=1)

In [ ]:
tweets_df

In [ ]:
since_date = '2019-01-01'
until_date = '2019-10-31'
count = 2000
# Creation of query object
tweetCriteria = got.manager.TweetCriteria().setSince(since_date).setUntil(until_date).setMaxTweets(count)
# Creation of list that contains all tweets
tweets = got.manager.TweetManager.getTweets(tweetCriteria)
# Creating list of chosen tweet data
text_tweets = [[tweet.date, tweet.text] for tweet in tweets]
# Creation of dataframe from tweets list
tweets_df = pd.DataFrame(text_tweets)