In [1]:
import pandas as pd
import tweepy
import time
import json
from pandas.io.json import json_normalize

In [2]:
# Keys & tokens
consumer_key= 'C27j2Dj98lrCeHDTY2Xgze3QH'
consumer_secret = '1MVAIyFzi3cHu9Y9wnOykipxOuvjrFlUCeH37kFbluZCKMbUYs'
access_token = "755256756322787328-U6XrJYzxeu1gfrVumRpR29qZfCyB0aA"
access_token_secret = "RcG4fqJn3AcFJwXxvLKdzEiQ2WbEG2qKjSPpeWScuYMrS"
## Authentication with Twitter
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)

api = tweepy.API(auth,wait_on_rate_limit=True)

In [3]:
public_tweets = api.home_timeline()
for tweet in public_tweets:
    print(tweet.text)

The stone dates to 1819 ‚ÄòThe Belgian farmer, apparently annoyed by the stone in his tractor's path, had moved it in‚Ä¶ https://t.co/NNFBk8VLuG
RT @chelywright: I came out of the closet that nearly killed me 11 years ago.
I made a decision to lead every conversation for the rest of‚Ä¶
UK travel industry shares climb as hopes rise for green light on holidays abroad https://t.co/V4HafLSaEa
A portrait of FDR hangs opposite Joe Biden‚Äôs desk in the Oval Office. Can the new president live up to his hero? On‚Ä¶ https://t.co/x5U2AZpxYd
RT @samuelhabte: @jeru13954205 @FBedaso @NeaminZeleke If you knew the facts there, you don't ask for one. So learn them;
1. Deep down she i‚Ä¶
A group of 19 lawyers, scholars, activists and journalists from around the world will announce on Wednesday whether‚Ä¶ https://t.co/E6QtMAK7SR
Tucker Carlson  is being fed oppo about and is denouncing Kevin McCarthy, the man who wants to be speaker of the Ho‚Ä¶ https://t.co/d3sxpucfgv
"Protesters demanded justice for Nina Pop. A year after her death, what happened to everyone saying Black trans liv‚Ä¶ https://t.co/Yz0TYAv388
Forecasters said much of the South could see more severe weather Tuesday. Tornadoes struck parts of the region Sund‚Ä¶ https://t.co/t5Q12toTdE
.@FLOTUS: "We need two years of free community college." https://t.co/BtMNRas3M9
"We failed these brave young men." https://t.co/T5MRskdoXZ
RT @stesfamariam: @LanderMiddle @NeaminZeleke It may be a blessing in disguise-a break from racist &amp; unequal ties. Africans should not seek‚Ä¶
Explainer: Scotland‚Äôs difficult route to another independence referendum https://t.co/rO9AgCgShQ https://t.co/SochhQvkZF
News Analysis: The increasing racial diversity among U.S. voters isn‚Äôt helping Democrats as much as many expected,‚Ä¶ https://t.co/jTBEeZxrLm
Online videos might suggest dogs can communicate using buttons linked to words. ‚ÄúThe Intelligence‚Äù asks @lanegreene‚Ä¶ https://t.co/1LYaE4t52I
Swiss diplomat in Iran found dead after fall from high-rise https://t.co/PNr3apdq2e
RT @stesfamariam: @NafyadWakjira @NeaminZeleke @AbiyAhmedAli @iyoba4u @dejene_2011 @EA_DevCouncil @henokgabisa @seyoum_teshome @NatnaelMeko‚Ä¶
RT @derek8185338005: europeans don't understand is that the united states is twice the size of Belgium and would easily stretch from southe‚Ä¶
Billionaires Bill and Melinda Gates have decided to seek a divorce, the couple said in a joint announcement. The co‚Ä¶ https://t.co/K77b6xE16v
The #PumpRules couple has shared all of their ups and downs with viewers, but now they're telling Bravo Insider all‚Ä¶ https://t.co/2QNPlOUMk2

In [4]:
#scraping for a specific user 
username = 'BarackObama'
count = 150

try:     
 # Creation of query method using parameters
 tweets = tweepy.Cursor(api.user_timeline,id=username).items(count)
 
 # Pulling information from tweets iterable object
 tweets_list = [[tweet.created_at, tweet.text, tweet.user.screen_name] for tweet in tweets]
 
 # Creation of dataframe from tweets list
 # Add or remove columns as you remove tweet information
 tweets_df = pd.DataFrame(tweets_list)
except BaseException as e:
      print('failed on_status,',str(e))
      time.sleep(3)

In [5]:
tweets_df

,0,1,2
0,2021-04-30 13:00:21,It was because of them I was able to travel to...,BarackObama
1,2021-04-30 13:00:10,"This week, Admiral Bill McRaven joined me to r...",BarackObama
2,2021-04-29 23:16:31,Bernie Wong was a trailblazer who spent her li...,BarackObama
3,2021-04-29 22:31:08,"During President @JoeBiden‚Äôs first 100 days, t...",BarackObama
4,2021-04-26 21:55:27,States have just learned how many seats they h...,BarackObama
...,...,...,...
145,2020-11-16 22:02:07,Music has always played an important role in m...,BarackObama
146,2020-11-12 21:00:56,"More than anyone else, I wrote my book for you...",BarackObama
147,2020-11-11 16:01:55,"Today, we‚Äôre reminded of our solemn obligation...",BarackObama
148,2020-11-07 18:03:22,"Congratulations to my friends, @JoeBiden and @...",BarackObama
149,2020-11-04 00:17:16,"Thank you Chiney, Nneka, and all of the athlet...",BarackObama

In [6]:
#searching tweets from my timeline 
tweets_list = []
public_tweets = api.home_timeline(1000)
for tweet in public_tweets:
    tweets_list.append(tweet._json)
#     print({tweet.text:tweet.user.screen_name})

len(tweets_list)

197

In [7]:
#write list of tweets into a txt file 
with open('tweet_json_Barca.txt', 'w') as file:
        file.write(json.dumps(tweets_list, indent=4))

In [8]:
#create a dataframe from json tweets
my_demo_list = []
with open('tweet_json_Barca.txt', encoding='utf-8') as json_file:  
    all_data = json.load(json_file)
    for each_dictionary in all_data:
        tweet_id = each_dictionary['id']
        text = each_dictionary['text']
        favorite_count = each_dictionary['favorite_count']
        retweet_count = each_dictionary['retweet_count']
        created_at = each_dictionary['created_at']
        my_demo_list.append({'tweet_id': str(tweet_id),
                             'text': str(text),
                             'favorite_count': int(favorite_count),
                             'retweet_count': int(retweet_count),
                             'created_at': created_at,
                            })
        #print(my_demo_list)
        tweet_json = pd.DataFrame(my_demo_list, columns = 
                                  ['tweet_id', 'text', 
                                   'favorite_count', 'retweet_count', 
                                   'created_at'])

In [9]:
tweet_json

,tweet_id,text,favorite_count,retweet_count,created_at
0,1389566279527411714,"The stone dates to 1819 ‚ÄòThe Belgian farmer, a...",0,0,Tue May 04 13:03:12 +0000 2021
1,1389566111931318278,RT @chelywright: I came out of the closet that...,0,11,Tue May 04 13:02:32 +0000 2021
2,1389566108450107394,UK travel industry shares climb as hopes rise ...,4,0,Tue May 04 13:02:31 +0000 2021
3,1389566008449454083,A portrait of FDR hangs opposite Joe Biden‚Äôs d...,2,2,Tue May 04 13:02:07 +0000 2021
4,1389565994415370242,RT @samuelhabte: @jeru13954205 @FBedaso @Neami...,0,1,Tue May 04 13:02:04 +0000 2021
...,...,...,...,...,...
192,1389549135511101446,New study finds air pollution may cloud older ...,39,18,Tue May 04 11:55:05 +0000 2021
193,1389549114908631041,Adoption rates at animal shelters across the U...,139,35,Tue May 04 11:55:00 +0000 2021
194,1389548952991715329,RT @CandyCornball: It‚Äôs gon be a whole cycle o...,0,5,Tue May 04 11:54:21 +0000 2021
195,1389548950861004800,‚ÄúBy providing Asian Americans with an accessib...,61,15,Tue May 04 11:54:21 +0000 2021
196,1389548776151560195,RT @CandyCornball: The way I am so pre-pissed ...,0,18,Tue May 04 11:53:39 +0000 2021

In [10]:
tweet_json.shape

(197, 5)

In [11]:
tweet_json.to_csv('timeline_tweets.csv', index = False)

In [15]:
# scrapping by country 
api = tweepy.API(auth)
places = api.geo_search(query="USA", granularity="country")
place_id = places[0].id

tweets = api.search(q="place:%s" % place_id)
for tweet in tweets:
    print(tweet.text + " | " + tweet.place.name if tweet.place else "Undefined place")

I don‚Äôt even know what ‚Äúcoldplay‚Äù means | Brooklyn
@_jazzzayy @lizzaay_  Jaz said you would be there soooo prep yourself üòÇ | Joliet
When I say to chill out then chill out. My switch will flip in a secüò¥ | Houston
If the journalists at The Plain Dealer are getting confused... https://t.co/1vjLhrtrUZ | Ashtabula
I said it once I‚Äôll say it again dogecoin to the moonüöÄ #dogecoin | Houston
@_great_yota_ @puroresueikaiwa Is... is that a giant hairbrush?! | North Carolina
Now we see the truth!Democrats attempted to impeach Trump, because they knew, Trump‚Äôs policies would increase Ameri‚Ä¶ https://t.co/uBF1mNvH46 | Alabama
@ReezyBabyyy they be violating youüò≠ | Colorado Springs
@SSweetheartsPod Who knows what the @NHLPlayerSafety dart board will have to say! | Ontario
I remember when niggas was mad at Beyonc√© during the flood in Houston. Like?? https://t.co/hryyDGP1yG | Coronado
@enews @acmarie8 | Green Haven

In [17]:
tweet_country = []

In [18]:
searchTerms = "America"
num_search = 200
searchCountry = "USA"

places = api.geo_search(query=searchCountry, granularity="country")
place_id = places[0].id

tweets = tweepy.Cursor(api.search , q=(searchTerms) and ("place:%s" % place_id), lang="English").items(num_search)

for tweet in tweets:
    tweet_country.append(tweet._json)
#     print(tweet.text + "| " + tweet.place.name if tweet.place else "Undefined place")

In [19]:
tweet_country

[{'created_at': 'Mon May 03 19:44:30 +0000 2021',
  'id': 1389304882201604100,
  'id_str': '1389304882201604100',
  'text': 'We‚Äôre excited to partner w/ @AdvanceCHC to offer a vaccination clinic this Thurs. 5/6 10am - 4pm. Participants will‚Ä¶ https://t.co/mGD2u8Bq48',
  'truncated': True,
  'entities': {'hashtags': [],
   'symbols': [],
   'user_mentions': [{'screen_name': 'AdvanceCHC',
     'name': 'Advance Community Health',
     'id': 1735985618,
     'id_str': '1735985618',
     'indices': [28, 39]}],
   'urls': [{'url': 'https://t.co/mGD2u8Bq48',
     'expanded_url': 'https://twitter.com/i/web/status/1389304882201604100',
     'display_url': 'twitter.com/i/web/status/1‚Ä¶',
     'indices': [117, 140]}]},
  'metadata': {'iso_language_code': 'en', 'result_type': 'recent'},
  'source': '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>',
  'in_reply_to_status_id': None,
  'in_reply_to_status_id_str': None,
  'in_reply_to_user_id': None,
  'in_reply_to_user_id_str': None,
  'in_reply_to_screen_name': None,
  'user': {'id': 1085976422211035140,
   'id_str': '1085976422211035140',
   'name': 'SERaleighYMCA',
   'screen_name': 'SERaleighYMCA',
   'location': 'Raleigh, NC',
   'description': 'We‚Äôre for youth development, healthy living and social responsibility. Proud to serve the Southeast Raleigh community.  Opening in the fall of 2019!',
   'url': 'https://t.co/XdiNbB5kcj',
   'entities': {'url': {'urls': [{'url': 'https://t.co/XdiNbB5kcj',
       'expanded_url': 'https://www.ymcatriangle.org/southeast-raleigh-ymca?fbclid=IwAR17jRoBhX8V_Nacywqzm3cwCkqd1lbGvwgCfHH',
       'display_url': 'ymcatriangle.org/southeast-rale‚Ä¶',
       'indices': [0, 23]}]},
    'description': {'urls': []}},
   'protected': False,
   'followers_count': 281,
   'friends_count': 292,
   'listed_count': 1,
   'created_at': 'Thu Jan 17 19:05:30 +0000 2019',
   'favourites_count': 177,
   'utc_offset': None,
   'time_zone': None,
   'geo_enabled': True,
   'verified': False,
   'statuses_count': 265,
   'lang': None,
   'contributors_enabled': False,
   'is_translator': False,
   'is_translation_enabled': False,
   'profile_background_color': 'F5F8FA',
   'profile_background_image_url': None,
   'profile_background_image_url_https': None,
   'profile_background_tile': False,
   'profile_image_url': 'http://pbs.twimg.com/profile_images/1085976506856361984/DHctqEnk_normal.jpg',
   'profile_image_url_https': 'https://pbs.twimg.com/profile_images/1085976506856361984/DHctqEnk_normal.jpg',
   'profile_banner_url': 'https://pbs.twimg.com/profile_banners/1085976422211035140/1562610928',
   'profile_link_color': '1DA1F2',
   'profile_sidebar_border_color': 'C0DEED',
   'profile_sidebar_fill_color': 'DDEEF6',
   'profile_text_color': '333333',
   'profile_use_background_image': True,
   'has_extended_profile': False,
   'default_profile': True,
   'default_profile_image': False,
   'following': False,
   'follow_request_sent': False,
   'notifications': False,
   'translator_type': 'none',
   'withheld_in_countries': []},
  'geo': None,
  'coordinates': None,
  'place': {'id': '10388f29bed50000',
   'url': 'https://api.twitter.com/1.1/geo/id/10388f29bed50000.json',
   'place_type': 'poi',
   'name': 'Southeast Raleigh YMCA',
   'full_name': 'Southeast Raleigh YMCA',
   'country_code': 'US',
   'country': 'United States',
   'contained_within': [],
   'bounding_box': {'type': 'Polygon',
    'coordinates': [[[-78.616048, 35.760475],
      [-78.616048, 35.760475],
      [-78.616048, 35.760475],
      [-78.616048, 35.760475]]]},
   'attributes': {}},
  'contributors': None,
  'is_quote_status': False,
  'retweet_count': 1,
  'favorite_count': 3,
  'favorited': False,
  'retweeted': False,
  'possibly_sensitive': False,
  'lang': 'en'}]

In [ ]:
# a=input("Enter Tag: ")
tweets = api.search(a, count=200)
a=[]
for tweet in tweets:
    if tweet.lang == "en":
        a.append(tweet.text)

In [21]:
a

[]